# --- HybridComm Specific Parameters ---

action_selector: "epsilon_greedy"
epsilon_start: 1.0
epsilon_finish: 0.05
epsilon_anneal_time: 500000 # 25-50% of t_max SANDBOX TESTING ----------------------------
evaluation_epsilon: 0.0
runner: "episode"

global_reward: True # important so they're not selfish

buffer_size: 5000 # 5000 SANDBOX TESTING ----------------------------
target_update_interval_or_tau: 200 # 50 in sandbox, original 200 SANDBOX TESTING -------------------------

batch_size: 32 # SANDBOX TESTING, DELETE AFTERWARDS ----------------------------
t_max: 2000000 # SANDBOX TESTING, DELETE AFTERWARDS -----------------------------

# --- Architecture ---
mac: "ExpoComm_mac"            # Keep using the ExpoComm MAC for communication
agent: "ExpoComm_static"       # Keep using the ExpoComm Agent
topk_neighbors: 5
attention_dim: 32

# --- Learner & Critics ---
learner: "hybrid_comm_learner" # Points to the new class we just made
agent_output_type: "q"
double_q: True
mixer: # None! (HybridComm uses independent local critics)

# --- Standardization ---
standardise_returns: False
standardise_rewards: True

# --- Contrastive Parameters ---
aux_coef: 0.1
temperature: 0.07 
neg_num: 20
use_rnn: True

# --- Optimization ---
lr: 0.0005
gamma: 0.99
obs_agent_id: True
obs_last_action: True
obs_individual_obs: False

name: "HybridComm"